<footer class="footer">
  <section class="section">
    <div class="container">
      <h2>想看什麼主題由你決定！</h2>
      <div class="txt">
        <p class="mb-4">歡迎投稿與我們分享</p>
        <a href="" class="btn btn-accent-200 text-white">聯絡我們</a>
      </div>
    </div>
  </section>

  <div class="copyright">
    <div class="container py-6 justify-content-center">
      <p>©Vivre 2024 All right Reserved</p>
    </div>
  </div>
</footer>
