<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <section class="section section-hero">
      <div class="container">
        <div class="heading text-white">
          <h3 class="fs-1 fs-lg-5">獻給新世代的生活風格誌</h3>
          <h2>一起探索生活的無限可能</h2>
        </div>
        <a href="#" class="btn btn-accent-200">馬上訂閱</a>
      </div>
    </section>

    <section class="section section-topics">
      <div class="container d-flex">
        <div class="topic">
          <div class="txt">
            <h5>城市漫遊者</h5>
          </div>
        </div>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
