<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <section class="section section-hero">
      <div class="container position-relative">
        <div class="main-content position-absolute translate-middle-y">
          <div class="heading text-white">
            <h3 class="fs-1 fs-lg-5 mb-3">獻給新世代的生活風格誌</h3>
            <h2 class="mb-6">一起探索生活的無限可能</h2>
          </div>
          <a
            href="#"
            class="btn btn-accent-200 text-white d-flex align-items-center"
            >馬上訂閱<i class="bi bi-arrow-right ."></i
          ></a>
        </div>
      </div>
    </section>

    <section class="section section-topics">
      <div class="container">
        <h2 class="mb-6">熱門主題</h2>
        <div class="row gy-6">
          <div class="col col-lg-3">
            <div class="topic">
              <div class="pic">
                <img
                  src="../assets/images/theme-1.png"
                  alt=""
                  class="w-100 align-bottom"
                />
              </div>
              <div class="txt translate-middle">
                <h5>城市漫遊者</h5>
              </div>
            </div>
          </div>
          <div class="col col-lg-3">
            <div class="topic">
              <div class="pic">
                <img
                  src="../assets/images/theme-2.png"
                  alt=""
                  class="w-100 align-bottom"
                />
              </div>
              <div class="txt translate-middle">
                <h5>秘境尋蹤人</h5>
              </div>
            </div>
          </div>
          <div class="col col-lg-3">
            <div class="topic">
              <div class="pic">
                <img
                  src="../assets/images/theme-3.png"
                  alt=""
                  class="w-100 align-bottom"
                />
              </div>
              <div class="txt translate-middle">
                <h5>品味設計家</h5>
              </div>
            </div>
          </div>
          <div class="col col-lg-3">
            <div class="topic">
              <div class="pic">
                <img
                  src="../assets/images/theme-4.png"
                  alt=""
                  class="w-100 align-bottom"
                />
              </div>
              <div class="txt translate-middle">
                <h5>美食探險記</h5>
              </div>
            </div>
          </div>
          <div class="col col-lg-3">
            <div class="topic">
              <div class="pic">
                <img
                  src="../assets/images/theme-5.png"
                  alt=""
                  class="w-100 align-bottom"
                />
              </div>
              <div class="txt translate-middle">
                <h5>美學建築誌</h5>
              </div>
            </div>
          </div>
          <div class="col col-lg-3">
            <div class="topic">
              <div class="pic">
                <img
                  src="../assets/images/theme-6.png"
                  alt=""
                  class="w-100 align-bottom"
                />
              </div>
              <div class="txt translate-middle">
                <h5>慢活生活行</h5>
              </div>
            </div>
          </div>
          <div class="col col-lg-3">
            <div class="topic">
              <div class="pic">
                <img
                  src="../assets/images/theme-7.png"
                  alt=""
                  class="w-100 align-bottom"
                />
              </div>
              <div class="txt translate-middle">
                <h5>工藝匠心賞</h5>
              </div>
            </div>
          </div>
          <div class="col col-lg-3">
            <div class="topic">
              <div class="pic">
                <img
                  src="../assets/images/theme-8.png"
                  alt=""
                  class="w-100 align-bottom"
                />
              </div>
              <div class="txt translate-middle">
                <h5>時尚先鋒派</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section section-articles">
      <div class="container">
        <div class="row">
          <div class="col">
            <!-- Slider main container -->
            <div class="swiper">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">Slide 1</div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
              </div>
              <!-- If we need pagination -->
              <div class="swiper-pagination"></div>

              <!-- If we need navigation buttons -->
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>

              <!-- If we need scrollbar -->
              <div class="swiper-scrollbar"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module">
      // import Swiper from "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs";

      const swiper = new Swiper(".swiper", {
        // Optional parameters
        direction: "vertical",
        loop: true,

        // If we need pagination
        pagination: {
          el: ".swiper-pagination",
        },

        // Navigation arrows
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },

        // And if we need scrollbar
        scrollbar: {
          el: ".swiper-scrollbar",
        },
      });
    </script>
  </body>
</html>
