<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <section class="section section-hero">
      <div class="container position-relative">
        <div class="main-content position-absolute translate-middle-y">
          <div class="heading text-white">
            <h3 class="fs-1 fs-lg-5 mb-3">獻給新世代的生活風格誌</h3>
            <h2 class="mb-6">一起探索生活的無限可能</h2>
          </div>
          <a
            href="#"
            class="btn btn-accent-200 text-white d-flex align-items-center"
            >馬上訂閱<i class="bi bi-arrow-right ."></i
          ></a>
        </div>
      </div>
    </section>

    <section class="section section-topics">
      <div class="container">
        <h2 class="mb-6">熱門主題</h2>
        <div class="row gy-6">
          <div class="col col-lg-3">
            <div class="topic">
              <div class="pic">
                <img
                  src="../assets/images/theme-1.png"
                  alt=""
                  class="w-100 align-bottom"
                />
              </div>
              <div class="txt translate-middle">
                <h5>城市漫遊者</h5>
              </div>
            </div>
          </div>
          <div class="col col-lg-3">
            <div class="topic">
              <div class="pic">
                <img
                  src="../assets/images/theme-2.png"
                  alt=""
                  class="w-100 align-bottom"
                />
              </div>
              <div class="txt translate-middle">
                <h5>秘境尋蹤人</h5>
              </div>
            </div>
          </div>
          <div class="col col-lg-3">
            <div class="topic">
              <div class="pic">
                <img
                  src="../assets/images/theme-3.png"
                  alt=""
                  class="w-100 align-bottom"
                />
              </div>
              <div class="txt translate-middle">
                <h5>品味設計家</h5>
              </div>
            </div>
          </div>
          <div class="col col-lg-3">
            <div class="topic">
              <div class="pic">
                <img
                  src="../assets/images/theme-4.png"
                  alt=""
                  class="w-100 align-bottom"
                />
              </div>
              <div class="txt translate-middle">
                <h5>美食探險記</h5>
              </div>
            </div>
          </div>
          <div class="col col-lg-3">
            <div class="topic">
              <div class="pic">
                <img
                  src="../assets/images/theme-5.png"
                  alt=""
                  class="w-100 align-bottom"
                />
              </div>
              <div class="txt translate-middle">
                <h5>美學建築誌</h5>
              </div>
            </div>
          </div>
          <div class="col col-lg-3">
            <div class="topic">
              <div class="pic">
                <img
                  src="../assets/images/theme-6.png"
                  alt=""
                  class="w-100 align-bottom"
                />
              </div>
              <div class="txt translate-middle">
                <h5>慢活生活行</h5>
              </div>
            </div>
          </div>
          <div class="col col-lg-3">
            <div class="topic">
              <div class="pic">
                <img
                  src="../assets/images/theme-7.png"
                  alt=""
                  class="w-100 align-bottom"
                />
              </div>
              <div class="txt translate-middle">
                <h5>工藝匠心賞</h5>
              </div>
            </div>
          </div>
          <div class="col col-lg-3">
            <div class="topic">
              <div class="pic">
                <img
                  src="../assets/images/theme-8.png"
                  alt=""
                  class="w-100 align-bottom"
                />
              </div>
              <div class="txt translate-middle">
                <h5>時尚先鋒派</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section section-articles">
      <div class="container">
        <div class="row">
          <div class="col-4 d-flex flex-column justify-content-between">
            <h2>精選文章</h2>
            <div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
          </div>
          <div class="col-8">
            <!-- Slider main container -->
            <div class="swiper">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide pb-4">
                  <img
                    src="../assets/images/articles-1.png"
                    class="rounded-1"
                    alt="圖片1"
                  />
                  <h5 class="mt-6 fw-900">私人島嶼的露營奇遇記</h5>
                  <p class="mt-2 mb-6 fw-600 gray-400">
                    遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...
                  </p>
                  <a href="#">Read More</a>
                </div>
                <div class="swiper-slide pb-4">
                  <img
                    src="../assets/images/articles-1.png"
                    class="rounded-1"
                    alt="圖片1"
                  />
                  <h5 class="mt-6 fw-900">私人島嶼的露營奇遇記</h5>
                  <p class="mt-2 mb-6 fw-600 gray-400">
                    遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...
                  </p>
                  <a href="#">Read More</a>
                </div>
                <div class="swiper-slide pb-4">
                  <img
                    src="../assets/images/articles-1.png"
                    class="rounded-1"
                    alt="圖片1"
                  />
                  <h5 class="mt-6 fw-900">私人島嶼的露營奇遇記</h5>
                  <p class="mt-2 mb-6 fw-600 gray-400">
                    遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...
                  </p>
                  <a href="#">Read More</a>
                </div>
                <div class="swiper-slide pb-4">
                  <img
                    src="../assets/images/articles-1.png"
                    class="rounded-1"
                    alt="圖片1"
                  />
                  <h5 class="mt-6 fw-900">私人島嶼的露營奇遇記</h5>
                  <p class="mt-2 mb-6 fw-600 gray-400">
                    遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...
                  </p>
                  <a href="#">Read More</a>
                </div>
                <div class="swiper-slide pb-4">
                  <img
                    src="../assets/images/articles-1.png"
                    class="rounded-1"
                    alt="圖片1"
                  />
                  <h5 class="mt-6 fw-900">私人島嶼的露營奇遇記</h5>
                  <p class="mt-2 mb-6 fw-600 gray-400">
                    遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...
                  </p>
                  <a href="#">Read More</a>
                </div>
              </div>
              <!-- If we need pagination -->
              <div class="swiper-pagination"></div>

              <!-- If we need navigation buttons -->
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>

              <!-- If we need scrollbar -->
              <!-- <div class="swiper-scrollbar"></div> -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section section-special-deal bg-primary-200">
      <div
        class="container d-flex flex-column align-items-center position-relative"
      >
        <h4 class="mb-5">\ 母親節強檔活動 /</h4>
        <h2 class="mb-5">家庭訂閱方案限時 7 折</h2>
        <ul class="list-unstyled">
          <li><i class="bi bi-check"></i>每月最新文章無限閱讀</li>
          <li><i class="bi bi-check"></i>專屬會員限定內容</li>
          <li><i class="bi bi-check"></i>定期電子報</li>
          <li><i class="bi bi-check"></i>年度精選禮物</li>
          <li><i class="bi bi-check"></i>24 /7 優先客戶服務</li>
          <li><i class="bi bi-check"></i>為每個成員量身打造專屬行程</li>
        </ul>
      </div>
    </section>

    <section class="section section-popular">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <p class="fs-2 mb-10">大家都在看</p>

            <nav>
              <ul class="navbar d-flex flex-column .align-items-start">
                <li class="p-4">
                  <a class="nav-link active" aria-current="page" href="#"
                    >酒精路跑地圖</a
                  >
                </li>
                <li class="p-4">
                  <a class="nav-link" href="#">台北拉麵圖鑑</a>
                </li>
                <li class="p-4">
                  <a class="nav-link" href="#">海島自由行</a>
                </li>
                <li class="p-4">
                  <a class="nav-link" href="#">短天數出國推薦</a>
                </li>
                <li class="p-4">
                  <a class="nav-link" href="#">週末露營趣 </a>
                </li>
              </ul>
            </nav>
          </div>

          <div class="col-9">
            <div class="main-title p-6">
              <h4 class="mb-6">酒精路跑地圖</h4>
              <ul class="list-unstyled">
                <li class="mb-5">｜城市酒吧人氣榜,盤點當紅熱門酒吧</li>
                <li class="mb-5">
                  ｜你要的調酒師在這裡！五月全台酒吧客座活動整理
                </li>
                <li>｜台南老宅手工酒藏,尋味百年人文釀意</li>
              </ul>
            </div>

            <div class="main-content">
              <div class="pic-group d-flex gap-1 mb-4">
                <img src="../assets/images/hots-1.png" alt="" />
                <img src="../assets/images/hots-2.png" alt="" />
                <img src="../assets/images/hots-3.png" alt="" />
                <img src="../assets/images/hots-4.png" alt="" />
              </div>

              <div class="foot d-flex justify-content-between p-6">
                <div class="tags d-flex gap-4">
                  <a href="#" class="tag">#夜貓行程</a>
                  <a href="#" class="tag">#barhopping</a>
                  <a href="#" class="tag">#全台酒吧</a>
                </div>
                <div class="more">
                  <a href="#" class="d-flex"
                    >View More<i class="bi bi-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section section-taste-topics">
      <div class="container">
        <h2 class="mb-10">品味生活</h2>
        <div class="row">
          <div class="col-4">
            <h3>食.</h3>
            <div class="pic mb-9">
              <img src="../assets/images/life-1.png" alt="" />
            </div>
            <p class="mb-5">｜米其林三星主廚的那些絕活傳奇</p>
            <p class="mb-5">｜探秘成都的地道川味秘技與魅力</p>
            <p class="mb-9">｜義大利釀酒師對於酒的堅持執著</p>
            <a href="#" class="more d-flex"
              >View More<i class="bi bi-arrow-right"></i
            ></a>
          </div>
          <div class="col-4">
            <h3>食.</h3>
            <div class="pic mb-9">
              <img src="../assets/images/life-2.png" alt="" />
            </div>
            <p class="mb-5">｜米其林三星主廚的那些絕活傳奇</p>
            <p class="mb-5">｜探秘成都的地道川味秘技與魅力</p>
            <p class="mb-9">｜義大利釀酒師對於酒的堅持執著</p>
            <a href="#" class="more d-flex"
              >View More<i class="bi bi-arrow-right"></i
            ></a>
          </div>
          <div class="col-4">
            <h3>食.</h3>
            <div class="pic mb-9">
              <img src="../assets/images/life-3.png" alt="" />
            </div>
            <p class="mb-5">｜米其林三星主廚的那些絕活傳奇</p>
            <p class="mb-5">｜探秘成都的地道川味秘技與魅力</p>
            <p class="mb-9">｜義大利釀酒師對於酒的堅持執著</p>
            <a href="#" class="more d-flex"
              >View More<i class="bi bi-arrow-right"></i
            ></a>
          </div>
        </div>
        <div class="arrows d-flex">
          <a href="#" class="left"><i class="bi bi-arrow-left"></i></a>
          <a href="#"><i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module">
      // import Swiper from "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs";

      const swiper = new Swiper(".swiper", {
        // Optional parameters
        slidesPerGroup: 1,
        slidesPerView: 2,
        spaceBetween: 48,
        loop: true,

        // If we need pagination
        pagination: {
          el: ".swiper-pagination",
        },

        // Navigation arrows
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },

        // And if we need scrollbar
        scrollbar: {
          el: ".swiper-scrollbar",
        },
      });
    </script>
  </body>
</html>
